/* - - - - - - - - - - - - - - - - - - -  */
/* Added by Mary L | Shopify April 3 2018 */
/* - - - - - - - - - - - - - - - - - - -  */

/*================ Typography ================*/
{% if settings.type_base_family contains 'Google' %}
  {% assign type_base_parts = settings.type_base_family | split: '_' %}
  {% assign type_base_name = type_base_parts[1] %}
  {% capture base_family %}"{{ type_base_name | split: ':' | first | replace: '+', ' ' }}"{% if type_base_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
{% else %}
  {% assign base_family = settings.type_base_family %}
{% endif %}

{% if settings.type_header_family contains 'Google' %}
  {% assign type_header_parts = settings.type_header_family | split: '_' %}
  {% assign type_header_name = type_header_parts[1] %}
  {% capture header_family %}"{{ type_header_name | split: ':' | first | replace: '+', ' ' }}"{% if type_header_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
  {% assign header_weight = type_header_parts[2] | split: ',' %}
{% else %}
  {% assign header_family = settings.type_header_family %}
  {% assign header_weight = 400 %}
{% endif %}

$font-stack-header: {{ header_family }};

body {
font-family: $font-stack-header;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color:#000; 
}
a.site-logo {
    color: #fff;
}

.header-wrapper {
  width: 1300px;
  margin: auto;
}
.site-logo {
  text-decoration: none;
}
ul.site-nav {
    display: inline-flex;
}
ul {
  list-style-type: none;
}
ul.site-nav {
    margin-top: 30px;
}
a.site-nav__link {
    color: #fff;
    margin-right: 20px;
}
footer {
    padding: 20px 0;
    background-color: #efefef;
    margin: 60px 0 0 0;
    display: none;
}
