/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

body {
  font-family: $font-stack-header;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  header {
    background-color:#000; 
  }
  a.site-logo {
      color: #fff;
  }
  
  .header-wrapper {
    width: 1300px;
    margin: auto;
  }
  .site-logo {
    text-decoration: none;
  }
  ul.site-nav {
      display: inline-flex;
  }
  ul {
    list-style-type: none;
  }
  ul.site-nav {
      margin-top: 30px;
  }
  a.site-nav__link {
      color: #fff;
      margin-right: 20px;
  }
  footer {
      padding: 20px 0;
      background-color: #efefef;
      margin: 60px 0 0 0;
      display: none;
  }